### API Keys
# The Movie DB API key is needed for posters and other metadata. 
# Required. Get one free with a TMDB account. https://developer.themoviedb.org/docs/getting-started
TMDB_API_KEY=
# UPCitemdb can be accessed for free with no api key up to 100 times a day. https://devs.upcitemdb.com/

# Optional UPCDB API. Get a free one here. https://upcdatabase.org/api
UPCDB_API_KEY=
# Optional Barcode Lookup API. A free trial can be requested. https://www.barcodelookup.com/api
BARCODE_LOOKUP_API_KEY=
# Enable Blu-ray.com lookup service (set to 'true' to enable, anything else to disable)
BLU-RAY.COM=false

### Web Configuration
WEB_PORT=80

### Server Configuration
PORT=3001
DB_PATH=/data/movies.db
# Optional token for server requests to /api and /images endpoints. Create one here or leave blank for anonymous access.
API_TOKEN=
